body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    border-radius: 5px;
}

#resultContainer {
    margin-top: 20px;
}

#generatedLink {
    word-break: break-all;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.hidden {
    display: none;
}

footer { 
 position: fixed; 
 left: 0; 
 bottom: 0; 
 width: 100%; 
 background-color: #2f3134; 
 text-align: center; 
 z-index: 1; 
 } 
  
  
  
 footer p {  
  color: white;  
  font-size: 18px;  
  text-shadow: 2px 2px 2px #000000;  
  margin-left: 0px;  
  margin-right: 0px;  
  text-align: center;  
  } 
  
  
  
 .my-link { 
   color: #029bed; 
   text-decoration: none; 
 } 
  
 .my-link:hover, 
 .my-link:focus, 
 .my-link:active, 
 .my-link:visited { 
   text-decoration: none; 
 } 
 